<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <center>
        <h3>All Gigs</h3>
        </center>
      </div>
      <div class="panel-body">
        <div class="panel-body">
        <% @service.each do |service| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag service.image.url(:thumb) %>
            </div>
            <div class="col-md-7">
              <h4>
                <%= service.title %>
              </h4>
            </div>
            <div class="col-md-3">
              <h4>
                <%= link_to "Order Now", service_path(service.id) %>
              </h4>
            </div>
          </div>
        <% end %>
        </div>
  </div>
</div>
</div>

