<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <center>
          <%= image_tag get_avatar_url(@user), class: "img-circle img-responsive" %>
          <h3><%= @user.fullname %></h3>
        </center>
      </div>
      <div class="panel-body">
        <%= @user.description %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>
